<div class="container">
  <a [routerLink]="['/addCategory']"><button type="button" class="btn btn-info btn-custom"><i class="fa fa-plus" aria-hidden="true"></i>&nbsp;Add Category</button></a>&nbsp;
  <a [routerLink]="['/posts']"><button type="button" class="btn btn-info btn-custom"><i class="fa fa-line-chart" aria-hidden="true"></i>&nbsp;Manage Post</button></a>

  <table class="table table-striped" [mfData]="categories" #mf="mfDataTable" [mfRowsOnPage]="20">
<thead>
<tr>
  <th>
      <mfDefaultSorter by="Name">Name</mfDefaultSorter>
  </th>

  <th>Action</th>
</tr>
</thead>
<tbody>
<tr *ngFor="let item of mf.data">
  <td>{{item.Name}}</td>
  <td class="action-col">  
      <button class="btn btn-primary fa fa-area-chart" routerLink="/editCategory/{{item.Id}}"> Edit </button>  &nbsp;
      <button
          class="btn btn-danger fa fa-trash"
          mwlConfirmationPopover
          [popoverTitle]="popoverTitle"
          [popoverMessage]="popoverMessage"
          placement="left"
          (confirm)="ConfirmDelete(item)"
          (cancel)="cancelClicked = true">
          Delete
      </button>  &nbsp;        
  </td>
</tr>
</tbody>
<tfoot>
<tr>
  <td colspan="4">
      <mfBootstrapPaginator [rowsOnPageSet]="[5,10,25]"></mfBootstrapPaginator>
  </td>
</tr>
</tfoot>
</table>
</div>

<!-- <app-delete [postId]="PostId"></app-delete> -->

<ngx-spinner
bdColor = "rgba(51, 51, 51, 0.8)"
size = "medium"
color = "#fff"
type = "pacman"
></ngx-spinner>