.styled {
    background-repeat: no-repeat;
    position: absolute;
    height: 130px;
    color: transparent;
    text-indent: -9999px;
    left: 0;
    width: 249px;
    border-radius: 4px;
    border: 1px solid #c3c3c3b8;
    white-space: nowrap;
    overflow: hidden;
    z-index: 1;
}
.col-img {

    width: 24% !important;

}
.uploaded-img {
    height: 130px !important;
    width: 249px !important;
    float: left;
}
.add-category {
    font-size: 14px;
    margin-top: 3px;
    padding: 4px;
    color: #495057;
}
.form-group.cat {
    width: 29% !important;
    float: left !important;
    margin-left: 1%;
}
.form-group.des {
    width: 70% !important;
    float: left !important;
}
span.text-danger-error.field-validation-error {
    float: left;
    width: 100%;
    color: red;
}
.form-group.group.thumb {
    float: left;
    width: 50% !important;
}
.form-group.mt10.cus-btn {
    float: right;
    width: 7%;
    margin-top: 111px;
}